@{
    ViewData["Title"] = "Inicio";
}
<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="bg-white shadow-lg d-flex align-items-center justify-content-center"
         style="width: 400px; height: 200px; border-radius: 100px; padding: 20px;">
        <img src="~/img/logo.png" alt="Logo" class="img-fluid" style="max-height: 140px;">
    </div>
</div>